@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--color-primary: '#081F4A';
	--color-secondary: '#FFEA00';
}

/* removes scrollbar */
::-webkit-scrollbar {
	@apply w-0;
}

* {
	@apply box-border font-dm p-0 m-0;
}

html {
	scroll-behavior: smooth;
}

body {
	@apply bg-white overflow-x-hidden overflow-y-scroll;
}

input,
textarea {
	@apply outline-none;
}

input:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s;
}

input[type="search"]::-webkit-search-cancel-button {
	@apply hidden;
}

input[type="file"]::-webkit-file-upload-button {
	@apply hidden;
}

button {
	@apply active:scale-[0.98] hover:bg-opacity-80 transition-all duration-500 flex items-center justify-center rounded-lg font-medium;
}

a {
	@apply active:scale-[0.98] hover:bg-opacity-80 transition-all duration-500 rounded-lg font-medium;
}

/* input:number reset */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* removes ms edge password reveal icon */
::-ms-reveal {
	@apply hidden;
}

/* grid containe on home page */
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-columns: 1fr;
	gap: 20px 20px;
	grid-auto-flow: row;
	grid-template-areas:
		"top top top top top top top right right right"
		"top top top top top top top right right right"
		"top top top top top top top right right right"
		"left left left . . . . right right right"
		"left left left . . . . right right right"
		"left left left . . . . right right right"
		"left left left . . . . right right right"
		"left left left down down down down down down down"
		"left left left down down down down down down down"
		"left left left down down down down down down down";
}

.top {
	grid-area: top;
}

.right {
	grid-area: right;
}

.down {
	grid-area: down;
}

.left {
	grid-area: left;
}

.top img,
.right img,
.down img,
.left img {
	@apply w-full h-full rounded-lg object-cover;
}

/* actives the hover effect on the bav links */
.nav-link {
	position: relative;
}

.nav-link::before {
	@apply content-[""] absolute bottom-0 right-0 w-0 h-[2px] bg-[#9FAABE] transition-transform transform duration-[650] ease-width;
}

@media (hover: hover) and (pointer: fine) {
	.nav-link:hover::before {
		@apply left-0 right-auto w-full;
	}
}

/* typewriter caret */
.caret {
	@apply border-r-[1px] border-r-primary; /* Simulate blinking cursor */
  animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-primary);
  }
}
