@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--color-primary: '#081F4A';
	--color-secondary: '#FFEA00';
}

/* removes scrollbar */
::-webkit-scrollbar {
	width: 0px;
}

* {
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #fff;
	font-family: var(--primary-font);
	overflow-x: hidden;
	overflow-y: scroll;
}

input,
textarea {
	outline: none;
}

input:-webkit-autofill {
	transition: background-color 5000s ease-in-out 0s;
}

input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

input[type="file"]::-webkit-file-upload-button {
	display: none;
}

button {
	@apply active:scale-[0.98];
	border-radius: 8px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	@apply active:scale-[0.98];
	border-radius: 8px;
	font-weight: 500;
}

/* input:number reset */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* removes ms edge password reveal icon */
::-ms-reveal {
	display: none;
}

/* grid containe on home page */
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-columns: 1fr;
	gap: 20px 20px;
	grid-auto-flow: row;
	grid-template-areas:
		"top top top top top top top right right right"
		"top top top top top top top right right right"
		"top top top top top top top right right right"
		"left left left . . . . right right right"
		"left left left . . . . right right right"
		"left left left . . . . right right right"
		"left left left . . . . right right right"
		"left left left down down down down down down down"
		"left left left down down down down down down down"
		"left left left down down down down down down down";
}

.top {
	grid-area: top;
}

.right {
	grid-area: right;
}

.down {
	grid-area: down;
}

.left {
	grid-area: left;
}

.top img,
.right img,
.down img,
.left img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	object-fit: cover;
}

/* actives the hover effect on the bav links */
.nav-link {
	position: relative;
}

.nav-link::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 2px;
	background: #9faabe;
	transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
	.nav-link:hover::before {
		left: 0;
		right: auto;
		width: 100%;
	}
}

/* typewriter caret */
.caret {
  border-right: 1px solid var(--color-primary); /* Simulate blinking cursor */
  animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--color-primary);
  }
}
